<div style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
    <p>
        Hello {{ customerRecovery.customer.firstName }} {{ customerRecovery.customer.lastName }},
        <br/><br/>
        Follow this link to reset your account password at {{ config('core.basicInformation.shopName')|raw }}:
        <br/><br/>
        <a href="{{ resetUrl }}">{{ resetUrl }}</a>
        <br/><br/>
        This link is valid for the next 2 hours.
        If you didn't request password reset, you can ignore this email and no changes will be made.
    </p>
</div>